#contenedor{
    width: 100%;
}
header{
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    /* font-family: 'Georgia', sans-serif; */
} 

.Logo{
    height: 6%;
    width: 6%;
}

.barra_nav{
    margin-left:5% ;
    margin-right: 5%;
}
.nav-link:hover{
    color: white!important;
}

.text-success:hover{
    color: #3CCF4E!important;
}

.nav-item:hover{
    transform:translateY(-5px);
    transition:0.3s;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.carousel-caption{
    text-align: justify;
    height: 30%;
    padding: 0;
    bottom: 5.25rem;
    left: 56%;
    right: 9%;
}


.info{
    display: flex;
    flex-direction: column;
    align-items:end;
    position:absolute;   
}
.subtitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.row{
    justify-content: center;
    margin: 0;
}

.card-text{
    text-align: justify;
}

.BsAs{
    text-align: justify;
}

footer{
    
    background:linear-gradient(90deg, rgb(9, 39, 53), rgb(27, 85, 119));
}

.hover:hover{
    color:#3CCF4E !important;
}
.card-img-top{
    height: 100%;
}
::-webkit-scrollbar {
    display: none;        
}
@media screen and (max-width: 900px){
  

    .carousel-caption{
        text-align: center;
        width: 90%;
        top: 21%;
        left: 5%;
        right: 0%;
    }     
    
    .info{
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: justify;
        justify-content: center;
        min-height: 100%;
        position: relative;
   }

   
  
}

@media screen and (max-width: 780px){
   
    .info > h2{
        visibility: hidden;
    }
    
    .carousel-caption{
        top: 6%;
    }

    .info{
        text-align: justify;
    }
    /* .row-cols-1{
        width: 70%!important;
        margin-left: 15% ;
    }  */
}



